.menuContainer {
  padding: 24px;
  width: 100%;
  max-width: 250px;
  background-color: hsl(var(--primary) / 0.02);
  height: 100%;
  @apply flex flex-col;
}

.menuContent {
  @apply flex flex-col gap-3;
}

.h2WithLink {
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: hsl(var(--primary) / 0.5);
    transition: color 0.3s ease;
  }
}

.pWithLink {
  color: hsl(var(--primary) / 0.5);
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: hsl(var(--primary));
    transition: color 0.3s ease;
  }
}

.iconWithLink {
  height: 24px;
  width: 24px;
  color: hsl(var(--primary) / 0.5);
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: hsl(var(--primary));
    transition: color 0.3s ease;
  }
}

@media screen and (max-width: 1024px) {
  .menuContainer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menuContainer {
    display: none;
  }
}
